.btn {
  display: inline-block;
  padding: 15px 30px;
  border: none;
  background-color: var(--primary-dark);
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  color: var(--text);
  text-transform: uppercase;
  text-align: center;
  transition: 250ms all ease;
  min-width: fit-content;
  max-width: 100%;

  &--outline {
    border: 1px solid var(--primary-dark);
    background-color: transparent;
  }

  &.loading {
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: transparent;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    min-width: auto;
    padding: 0;
    background-color: #fff;
    border: 3px solid var(--divider);
    border-top-color: var(--text-secondary);
    animation: rotate 0.7s infinite cubic-bezier(0.73, 0.04, 0, 1.01);
    pointer-events: none;
  }

  &[disabled] {
    opacity: 0.7;
    cursor: not-allowed;
  }
}

@media screen and (hover: hover) {
  .btn {
    &:hover {
      text-decoration: none;
      color: var(--primary-dark);
      background-color: var(--primary-light);

      &.btn {
        &--outline {
          background-color: var(--primary-dark);
          color: #fff;
        }
      }
    }
  }
}
