.modal {
  display: grid;
  place-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1010;
  background-color: rgba(12, 13, 22, 0.5);
  transition: 300ms all ease;
  transform: scale3d(1, 0, 1);
  transform-origin: top center;
  will-change: transform;
  opacity: 0;

  &--slide-right {
    transform: scale3d(0, 1, 1);
    transform-origin: right center;
  }

  &--slide-bottom {
    transform: scale3d(1, 0, 1);
    transform-origin: bottom center;
  }

  &--slide-left {
    transform: scale3d(0, 1, 1);
    transform-origin: left center;
  }

  &--fade-in {
    transform: scale3d(0, 0, 1);
    transform-origin: center;
  }

  &--dark {
    .modal__content {
      background-color: transparent;
    }

    .btn--close {
      color: #fff;
    }
  }

  &.show {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

.modal__content {
  background: white;
  box-shadow: 0 20px 60px rgba(17, 32, 55, 0.1);
  border-radius: 30px;
  overflow: hidden;

  .modal_wrapper {
    padding: 50px 62px;

    .svg_center {
      text-align: center;
    }

    h3 {
      font-family: var(--sfont);
      font-style: normal;
      font-weight: 750;
      font-size: 36px;
      line-height: 42px;
      text-align: center;
      margin-top: 82px;
      margin-bottom: 30px;
    }
  }

  form {
    display: flex;
    flex-flow: row wrap;

    .wpcf7-form-control-wrap {
      margin-bottom: 30px;
      display: inline-flex;
      width: 100%;
      flex-flow: row wrap;
    }

    .spacer {
      margin-bottom: 20px;
      display: flex;
      flex-flow: row wrap;
      width: 100%;
    }

    label {
      font-family: var(--tfont);
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: var(--secondary);
      margin-bottom: 10px;
    }

    input,
    textarea {
      background: var(--primary-border-order);
      border-radius: 10px;
      padding: 13px 20px;
      font-family: var(--tfont);
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      color: var(--text-gray);
      width: 100%;
      outline: none;
      border: none;

      &:focus {
        outline: none;
        border: none;
      }

      &::placeholder {
        font-family: var(--tfont);
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        color: var(--text-gray);
      }
    }

    .two {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      margin-bottom: 30px;

      label {
        font-family: var(--tfont);
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        margin-bottom: 0;
        line-height: 24px;
        color: var(--text-gray);
      }

      .wpcf7-form-control-wrap {
        flex: auto;
        margin-left: 30px;
        margin-bottom: 0;
        width: unset;
      }

      &:last-of-type {
        input {
          margin-bottom: 0;
        }
      }
    }

    .file {
      height: 100%;
      background: var(--primary-border-order);
      border: 1px solid var(--primary-blue);
      box-sizing: border-box;
      border-radius: 10px;
      padding: 10px;

      .border {
        border: 1px dashed var(--primary-blue);
        box-sizing: border-box;
        border-radius: 10px;
        height: 100%;
        position: relative;

        .wpcf7-form-control-wrap {
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          height: 100%;
          opacity: 0;
        }

        .attach_text {
          font-family: var(--tfont);
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          color: var(--primary-blue);
          margin-top: 13px;
        }

        .formats {
          font-family: var(--tfont);
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 21px;
          color: var(--text-gray);
          margin-top: 10px;
        }

        .requirements {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          text-align: center;
        }
      }

      span {
        height: 100%;

        input {
          height: 100%;
        }
      }
    }

    .agreement {
      margin-top: 130px;
      text-align: center;

      .wpcf7-form-control-wrap {
        display: block;
      }

      .wpcf7-acceptance {
        label {
          display: flex;
          align-items: center;
        }

        input {
          width: unset;
          margin-bottom: 0;
        }

        span {
          margin-left: 10px;
          font-family: var(--tfont);
          color: var(--text-gray);
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 24px;

          a {
            color: var(--primary-blue);
            font-family: var(--tfont);
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            text-decoration: underline;
          }
        }
      }
    }

    input[type="submit"] {
      margin-top: 33px;
      background: var(--primary-blue);
      border-radius: 10px;
      font-family: var(--sfont);
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 24px;
      color: white;
      padding: 13px 133px;
      margin-bottom: 0;

      & + .wpcf7-spinner {
        display: none;
      }
    }
  }
}

.modal__header {
  position: relative;

  .btn--close {
    display: block;
    padding: 10px;
    margin-left: auto;
  }
}

.modal__body {
  height: 100%;
  max-height: calc(100vh - 150px);
  overflow: hidden auto;
}

@media screen and (max-width: 575px) {
  .modal__content {
    padding: 15px;

    .modal_wrapper {
      padding: 30px;

      h3 {
        font-size: 24px;
        line-height: 32px;
        margin-top: 30px;
      }

      form {
        .two {
          display: block;

          .wpcf7-form-control-wrap {
            margin-left: 0;
          }
        }

        .file {
          height: 200px;
        }

        .agreement {
          margin-top: 30px;
        }

        input[type="submit"] {
          margin-top: 0;
          text-align: center;
          padding: 13px 0;
        }
      }
    }
  }
}
