.newsletter_wrapper {
  margin-bottom: 150px;
  position: relative;
  background: white;
  box-shadow: 0 20px 60px rgba(17, 32, 55, 0.1);
  border-radius: 30px;
  padding: 40px 30px 30px;


  img {
    position: absolute;
    right: 30px;
    top: -44%;

    &:last-of-type {
      display: none;
    }
  }

  .title {
    font-family: var(--sfont);;
    font-style: normal;
    font-weight: 750;
    font-size: 26px;
    line-height: 30px;
    color: var(--secondary);
    margin-bottom: 5px;
  }

  .content {
    margin-bottom: 30px;

    p {
      font-family: var(--tfont);
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: var(--text-gray);
    }
  }

  .form_newsletter {
    input[type='email'] {
      background: var(--primary-border-order);
      border-radius: 10px;
      padding: 15px;
      font-family: var(--tfont);
      font-style: italic;
      font-weight: normal;
      font-size: 14px;
      line-height: 21px;
      color: var(--text-gray);
      margin-right: 20px;
      outline: none;
      border: none;
      max-width: 400px;
      width: 400px;

      &:focus {
        outline: none;
      }
    }

    button, input[type="submit"] {
      background: var(--primary-orange);
      border-radius: 10px;
      padding: 13px 70px;
      color: white;
      font-family: var(--sfont);
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 24px;
      outline: none;
      border: none;
    }
  }
}

@media screen and (max-width: 991px) {
  .newsletter_wrapper {
    img {
      display: none;

      &:last-of-type {
        display: block;
      }
    }
  }
}
