.posts {
  .category_picker {
    margin-bottom: 30px;

    a {
      display: inline-block;
      font-family: var(--tfont);
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 24px;
      cursor: pointer;
      color: var(--text-gray);
      border-radius: 10px;
      padding: 10px 20px;
      margin-right: 50px;

      &:hover {
        text-decoration: none;
        color: var(--primary-blue);
        outline: 2px solid var(--primary-blue);
      }

      &.selected {
        color: var(--primary-blue);
        outline: 2px solid var(--primary-blue);
      }
    }
  }

  .posts_wrapper {
    margin-bottom: 50px;

    .image {
      position: relative;

      img {
        width: 100%;
      }
    }

    .category {
      position: absolute;
      left: 20px;
      top: 20px;

      a {
        display: inline-block;
        font-family: var(--tfont);
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 24px;
        cursor: pointer;
        color: white;
        background: var(--primary-blue);
        border: 2px solid var(--primary-blue);
        border-radius: 10px;
        padding: 0 20px;
        margin-bottom: 22px;

        &:hover {
          text-decoration: none;
        }
      }
    }

    h3 {
      font-family: var(--sfont);
      font-style: normal;
      font-weight: bold;
      font-size: 22px;
      line-height: 28px;
      color: var(--secondary);
      margin-top: 20px;
      margin-bottom: 10px;
    }

    .post_info {
      margin-bottom: 18px;

      svg {
        margin-left: 10px;
        margin-right: 10px;
      }

      span {
        font-family: var(--tfont);
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
        color: var(--text-gray);
      }
    }

    .content {
      margin-bottom: 30px;

      p {
        font-family: var(--tfont);
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 21px;
        color: var(--text-gray);
      }
    }

    .read_more {
      font-family: var(--sfont);
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 24px;
      color: var(--primary-blue);

      &:hover {
        text-decoration: none;
      }
    }
  }

  .load_more_wrapper {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 320px;
  }

  .load_more {
    background: var(--primary-blue);
    border-radius: 10px;
    color: white;
    font-family: var(--sfont);
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    padding: 13px 53px;
    cursor: pointer;

    &:hover {
      color: white;
    }
  }
}
