.toast {
  position: fixed;
  z-index: 100;
  background-color: var(--primary-light);
  box-shadow: 0 3px 10px 6px var(--primary-light-05);
  color: var(--text-primary);
  padding: 5px 15px;
  transition: 250ms all ease;
  cursor: pointer;

  &--top-left {
    top: 20px;
    left: 20px;
    transform: translate3d(calc(-100% - 20px), 0, 0);
  }

  &--top {
    top: 0;
    transform: translate3d(0, -100%, 0);
  }

  &--top-right {
    top: 20px;
    right: 20px;
    transform: translate3d(calc(100% + 20px), 0, 0);
  }

  &--bottom-right {
    right: 20px;
    bottom: 20px;
    transform: translate3d(0, calc(100% + 20px), 0);
  }

  &--bottom {
    bottom: 0;
    transform: translate3d(0, 100%, 0);
  }

  &--bottom-left {
    bottom: 20px;
    left: 20px;
    transform: translate3d(0, calc(-100% - 20px), 0);
  }

  &--wide {
    left: 0;
    right: 0;
  }

  &--dark {
    background-color: #000;
    color: #fff;
  }

  &.show {
    transform: translate3d(0, 0, 0);

    &:hover {
      transform: translate3d(0, -5px, 0);
    }
  }
}

.toast__header {
  margin-bottom: 10px;

  .btn {
    display: block;
    margin-left: auto;
  }
}
