@import "Global";

.first_fold {
  h1 {
    p {
      text-align: center;
      font-size: 66px;
      line-height: 72px;
      margin-top: 80px;

      strong {
        font-family: var(--sfont);
        font-style: normal;
        font-weight: 750;
        font-size: 66px;
        line-height: 72px;
        color: var(--primary-orange);
        position: relative;
      }
    }

    span {
      font-size: 66px;
      line-height: 72px;
    }
  }
}

.content_after_first_fold {
  p {
    font-family: var(--tfont);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: var(--text-gray);
    margin-bottom: 16px;
  }

  .content_bottom {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
  }
}

.our-team {
  margin-top: 180px;
  margin-bottom: 360px;
  position: relative;

  h2 {
    text-align: center;
  }

  .authors_wrapper {
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 100px;
  }

  .author_name {
    font-family: var(--sfont);
    font-style: normal;
    font-weight: 750;
    font-size: 22px;
    line-height: 30px;
    color: var(--secondary);
    margin-top: 35px;
    text-align: center;
  }

  .author_role {
    font-family: var(--tfont);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: var(--text-gray);
    margin-top: 10px;
    text-align: center;
  }

  .authors {
    text-align: center;
    margin-top: 64px;
  }

  svg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
}

@media screen and (max-width: 599px) {
  .our-team {
    margin-top: 130px;

    .authors_wrapper {
      display: block;
    }

    .authors {
      width: 100%;
      display: block;
    }
  }
}
