@import "Global";
@import "components/posts";
@import "components/newsletter";
@import "components/custom-select";

.first_fold {
  margin-top: 82px;
  margin-bottom: 90px;

  .global_title {
    p {
      text-align: center;
      font-weight: 600;
      font-size: 66px;
      line-height: 72px;
    }

    span {
      text-align: center;
      font-weight: 600;
      font-size: 66px;
      line-height: 72px;
    }
  }
}

.featured {
  margin-bottom: 150px;

  .category {
    a {
      display: inline-block;
      font-family: var(--tfont);
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 24px;
      cursor: pointer;
      color: var(--primary-blue);
      border: 2px solid var(--primary-blue);
      border-radius: 10px;
      padding: 10px 20px;
      margin-bottom: 22px;

      &:hover {
        text-decoration: none;
      }
    }
  }

  h3 {
    font-family: var(--sfont);
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: var(--secondary);
    margin-bottom: 14px;
  }

  .post_info {
    margin-bottom: 18px;

    svg {
      margin-left: 10px;
      margin-right: 10px;
    }

    span:first-of-type {
      font-family: var(--tfont);
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 24px;
      color: var(--secondary);
      opacity: 0.8;
    }

    span:last-of-type {
      font-family: var(--tfont);
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 24px;
      color: var(--secondary-blog);
    }
  }

  .content {
    margin-bottom: 30px;

    p {
      font-family: var(--tfont);
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: var(--text-gray);
    }
  }

  .read_more {
    font-family: var(--sfont);
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: var(--primary-blue);

    &:hover {
      text-decoration: none;
    }
  }
}

.category_picker_mobile {
  display: none;
}

.openings {
  h2 {
    font-family: var(--sfont);
    color: var(--secondary);
    font-style: normal;
    font-weight: 750;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    margin-bottom: 53px;
  }

  .openings_picker {
    a {
      font-family: var(--tfont);
      color: var(--text-gray);
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 24px;
      margin-right: 87px;
      padding: 10px 20px;
      cursor: pointer;

      &.selected,
      &:hover {
        border-radius: 40px;
        outline: 2px solid var(--primary-blue);
        color: var(--primary-blue);
        text-decoration: none;
      }
    }
  }

  .listing_openings {
    margin-top: 30px;
    margin-bottom: 370px;
  }

  .single_listing {
    margin-bottom: 30px;
    background: white;
    border: 1px solid var(--primary-input);
    border-radius: 20px;
    padding: 30px;

    .category {
      background: var(--primary-blue);
      border-radius: 40px;
      display: inline-block;

      a {
        font-family: var(--tfont);
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 24px;
        color: white;
        padding: 10px 30px;

        &:hover {
          text-decoration: none;
        }
      }
    }

    h3 {
      margin-top: 30px;
      font-family: var(--sfont);
      font-style: normal;
      font-weight: bold;
      font-size: 22px;
      line-height: 28px;
      color: var(--secondary);
      margin-bottom: 10px;
    }

    .location {
      font-family: var(--tfont);
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 18px;
      color: var(--text-gray);
      margin-bottom: 11px;
    }

    .content {
      display: flex;
      align-items: center;

      p {
        font-family: var(--tfont);
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 21px;
        color: var(--text-gray);
      }
    }

    .apply_wrapper {
      text-align: right;
    }

    .apply {
      background: var(--primary-blue);
      border-radius: 10px;
      display: inline-block;

      a {
        font-family: var(--sfont);
        color: white;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
        padding: 13px 73px;
        display: inline-block;
        text-align: center;
        cursor: pointer;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

.openings_picker_mobile {
  display: none;
}

@media screen and (max-width: 991px) {
  .openings_picker_mobile {
    display: block;
    margin: 20px;
    width: 100%;

    .custom-select {
      color: var(--primary-blue);
      border: 2px solid var(--primary-blue);
      border-radius: 16px;
      outline: none;

      .option {
        text-align: center;
        font-family: var(--tfont);
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;

        &:hover {
          color: var(--primary-blue);
        }
      }

      .option--selected {
        .icon {
          top: 50%;
          right: 25%;
          transform: translate(-25%, -50%);
        }
      }

      option {
        font-family: var(--tfont);
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
      }

      #options-picker {
        margin-top: -2px;

        .option {
          font-family: var(--tfont);
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 24px;
          text-align: center;
        }
      }
    }
  }
  .category_picker {
    display: none;
  }
  .openings {
    .single_listing {
      margin-left: 15px;
      margin-right: 15px;
      margin-bottom: 30px;

      .apply {
        width: 100%;
        margin-top: 30px;
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 599px) {
  .first_fold {
    margin-bottom: 30px;
  }
  .posts .posts_wrapper .image img {
    border-radius: 16px;
  }
  .featured .category a {
    margin-top: 33px;
  }
  .category_picker_mobile {
    display: block;

    .custom-select {
      color: var(--primary-blue);
      border: 2px solid var(--primary-blue);
      border-radius: 16px;
      outline: none;
      margin-bottom: 30px;

      .option {
        text-align: center;
        font-family: var(--tfont);
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;

        &:hover {
          color: var(--primary-blue);
        }
      }

      .option--selected {
        .icon {
          top: 50%;
          right: 25%;
          transform: translate(-25%, -50%);
        }
      }

      option {
        font-family: var(--tfont);
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
      }

      #options-picker {
        margin-top: -2px;

        .option {
          font-family: var(--tfont);
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 24px;
          text-align: center;
        }
      }
    }
  }
  .openings_picker {
    display: none;
  }
  .newsletter_wrapper img {
    top: -50%;
  }
  .newsletter_wrapper .form_newsletter input[type='email'] {
    width: 100%;
  }
  .newsletter_wrapper .form_newsletter button {
    width: 100%;
    margin-top: 30px;
  }
  .btn--load {
    width: 100%;
    display: block;
  }
  .posts {
    .posts_wrapper {
      margin-bottom: 80px;
    }
  }
}
