@import "Global";

.first_fold {
  margin-top: 82px;
  margin-bottom: 90px;

  .global_title {
    text-align: center;
    font-weight: 600;
    font-size: 66px;
    line-height: 72px;

    p {
      font-size: 66px;
      line-height: 72px;
      font-family: var(--sfont);
      font-weight: 600;

      strong {
        font-family: var(--sfont);
        font-style: normal;
        font-weight: 750;
        font-size: 66px;
        line-height: 72px;
        color: var(--primary-orange);
        position: relative;
      }
    }

    span {
      text-align: center;
      font-weight: 600;
      font-size: 66px;
      line-height: 72px;
    }
  }
}

.search {
  margin-bottom: 30px;

  .subtext {
    font-family: var(--tfont);
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 24px;
    color: var(--text-gray);
    margin-bottom: 17px;
  }

  .search_wrapper {
    position: relative;

    svg {
      position: absolute;
      left: 16px;
      top: 50%;
      transform: translateY(-50%);
    }

    input {
      background: white;
      border: 1px solid var(--primary-input);
      border-radius: 8px;
      font-family: var(--tfont);
      font-style: italic;
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      color: var(--primary-input);
      padding: 12px 53px;
      width: 100%;

      &::placeholder {
        font-family: var(--tfont);
        font-style: italic;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        color: var(--primary-input);
      }

      &:focus {
        outline: none;
      }
    }
  }


}

.selection {
  .single_selection {
    margin-bottom: 20px;

    &:first-of-type {
      .single_selection-wrapper {
        box-sizing: border-box;
        border-radius: 10px;
        height: 100%;

        .single_selection-content {
          pointer-events: none;

          .title {
            color: var(--primary-dark);
            opacity: 0.6;
          }
        }

        &:hover {
          background-color: var(--primary-border-order);
          box-shadow: 0 0 30px rgba(99, 69, 23, 0.14);
          outline: 2px solid var(--primary-orange);
          background: var(--primary-blur);

          .single_selection-content {
            .title {
              color: var(--primary-orange);
              opacity: 1;
            }
          }

          svg {
            path, ellipse {
              fill: var(--primary-orange);
            }
          }

          .single_selection-content {
            .title {
              color: var(--primary-orange);
            }
          }
        }

        &.active {
          background-color: var(--primary-border-order);
          box-shadow: 0 0 30px rgba(99, 69, 23, 0.14);
          outline: 2px solid var(--primary-orange);
          background: var(--primary-blur);

          .single_selection-content {
            .title {
              color: var(--primary-orange);
              opacity: 1;
            }
          }

          svg {
            path, ellipse {
              fill: var(--primary-orange);
            }
          }

          .single_selection-content {
            .title {
              color: var(--primary-orange);
            }
          }
        }
      }
    }

    &:last-of-type {
      .single_selection-wrapper {
        box-sizing: border-box;
        border-radius: 10px;

        .single_selection-content {
          pointer-events: none;

          .title {
            color: var(--primary-dark);
            opacity: 0.6;
          }
        }

        &:hover {
          box-shadow: 0 0 30px rgba(99, 69, 23, 0.14);
          background: var(--primary-border-order);
          outline: 2px solid var(--primary-blue);

          svg {
            path {
              fill: var(--primary-blue);
            }
          }

          .single_selection-content {
            .title {
              color: var(--primary-blue);
              opacity: 1;
            }
          }
        }

        &.active {
          box-shadow: 0 0 30px rgba(99, 69, 23, 0.14);
          background: var(--primary-border-order);
          outline: 2px solid var(--primary-blue);

          svg {
            path {
              fill: var(--primary-blue);
            }
          }

          .single_selection-content {
            .title {
              color: var(--primary-blue);
              opacity: 1;
            }
          }
        }
      }
    }
  }

  .single_selection-wrapper {
    padding: 28px 35px;
    display: flex;
    align-items: center;
    cursor: pointer;

    * {
      pointer-events: none;
    }

    svg {
      margin-right: 35px;
    }

    .single_selection-content {
      .title {
        font-family: var(--sfont);
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 28px;
        margin-bottom: 7px;
      }

      .content {
        font-family: var(--tfont);
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 21px;
        color: var(--text-gray);
      }
    }
  }

  #accordion {
    margin-bottom: 150px;
  }

  .collapsible {
    background: white;
    border: 1px solid var(--primary-input);
    border-radius: 20px;
    padding: 22px 44px;
    margin-bottom: 20px;
    position: relative;
    display: none;

    &.showed {
      display: block;

      &.business {
        svg {
          path {
            fill: var(--primary-blue);
          }
        }
      }
    }

    .active {
      svg:first-of-type {
        transform: rotate(90deg);
      }

      svg:last-of-type {
        path:first-of-type {
          display: none;
        }
      }
    }

    button {
      background: none;
      outline: none;
      padding: 0;
      width: 100%;
      text-align: left;
      position: relative;

      svg:first-of-type {
        transition: all 0.2s ease-in;
        position: absolute;
        left: -20px;
        top: 7px;
      }

      svg:last-of-type {
        transition: all 0.2s ease-in;
        position: absolute;
        top: 0;
        right: -15px;
      }

      span {
        font-family: var(--sfont);
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
        color: var(--primary-dark);
      }
    }

    .collapse {
      height: 0;
      overflow: hidden;
      transition: all 0.2s ease-in;
      padding-right: 50px;

      &.show {
        height: 100%;
      }

      p {
        margin-top: 20px;
        font-family: var(--tfont);
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 21px;
        color: var(--text-gray);
      }
    }
  }
}
