@import "Global";
@import "~@glidejs/glide/src/assets/sass/glide.core";

.first_fold {
  padding-top: 80px;

  .subtitle {
    font-family: var(--tfont);
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 24px;
    color: var(--text-gray);
  }

  h1 {
    p {
      margin-top: 24px;
      font-family: var(--sfont);
      font-style: normal;
      font-weight: 750;
      font-size: 66px;
      line-height: 72px;
      color: var(--secondary);

      strong {
        font-family: var(--sfont);
        font-style: normal;
        font-weight: 750;
        font-size: 66px;
        line-height: 72px;
        color: var(--primary-orange);
        position: relative;
      }
    }

    span {
      font-family: var(--sfont);
      font-style: normal;
      font-weight: 750;
      font-size: 66px;
      line-height: 72px;
      color: var(--primary-orange);
    }

    strong {
      font-family: var(--sfont);
      font-style: normal;
      font-weight: 750;
      font-size: 66px;
      line-height: 72px;
      color: var(--primary-orange);
      position: relative;
    }
  }

  .content {
    margin-bottom: 24px;

    p {
      font-family: var(--tfont);
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: var(--text-gray);
    }
  }

  .actions {
    btn_action:first-of-type {
      margin-right: 20px;
    }
  }
}

.logos {
  margin-top: 110px;

  .logo_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;

    img {
      margin-right: 45px;
      filter: grayscale(1);

      &:hover {
        filter: grayscale(0);
      }
    }
  }
}

.creative {
  position: relative;
  padding-top: 260px;
  margin-bottom: 113px;

  svg {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  .global_title {
    span {
      &::after {
        content: none;
      }
    }
  }

  .btn_action {
    padding: 13px 60px;
  }
}

.picker {
  margin-top: 178px;

  .box_wrapper {
    box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.03);
    padding: 50px;
    border-radius: 30px;
    height: 100%;

    .bg_wrapper {
      background-color: white;
    }

    &.for_workers {
      .title {
        border-color: var(--primary-orange);
      }

      .list {
        .order {
          .number {
            color: var(--primary-orange);
            opacity: 0.2;
          }
        }
      }
    }

    .title_wrapper {
      text-align: center;
    }

    .title {
      font-family: var(--sfont);
      font-style: normal;
      font-weight: 750;
      font-size: 36px;
      line-height: 42px;
      color: var(--secondary);
      padding-bottom: 7px;
      border-bottom: 3px solid var(--primary-blue);
      text-align: center;
      display: inline-block;
    }

    .content {
      margin-bottom: 36px;
      margin-top: 17px;

      p {
        font-family: var(--tfont);
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
        color: var(--text-gray);
      }
    }

    .list {
      .order {
        padding-top: 24px;
        padding-bottom: 30px;
        border-top: 3px solid var(--primary-border-order);
        display: flex;
        align-items: center;

        .number {
          font-family: var(--sfont);
          font-style: normal;
          font-weight: 750;
          font-size: 100px;
          line-height: 108px;
          text-align: center;
          color: var(--primary-blue);
          opacity: 0.2
        }

        .order_content_wrapper {
          margin-left: 20px;
          padding-right: 30px;

          .order_title {
            font-family: var(--sfont);
            font-style: normal;
            font-weight: 750;
            font-size: 22px;
            line-height: 30px;
            display: flex;
            align-items: center;
            color: var(--secondary);
          }

          .order_content {
            font-family: var(--tfont);
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 21px;
            color: var(--text-gray);
          }
        }
      }
    }
  }
}

.comments {
  margin-top: 120px;
  margin-bottom: 200px;

  h2 {
    text-align: center;
    margin-bottom: 62px;
  }
}

.faq {
  padding-bottom: 200px;

  .flexed_content {
    height: 100%;
    display: flex;
    align-items: center;
  }

  .btn_action {
    padding: 13px 60px;
  }

  .global_content {
    padding-right: 100px;
  }

  a {
    &:hover {
      color: white;
      text-decoration: none;
    }
  }
}

.btn_action {
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.image_section_scroll {
  display: none;
}

@media screen and (max-width: 599px) {
  .image_section_scroll {
    display: block;
    text-align: center;
    margin-top: 15px;
  }
  .first_fold {
    .actions {
      display: flex;
      justify-content: space-between;
      gap: 15px;

      .btn_action {
        max-width: 50%;
        width: 50%;
      }
    }
  }
  .logos {
    .logo_wrapper {
      picture {
        width: 33.3333%;

        text-align: center;

        img {
          margin-right: 0;
          margin-bottom: 35px;
        }
      }
    }
  }
  .creative {
    padding-top: 60px;
    margin-bottom: 36px;

    img {
      margin-bottom: 30px;
    }

    .btn_action {
      width: 100%;
      text-align: center;
    }
  }
  .image_section_trio {
    overflow: auto;
    white-space: nowrap;

    img {
      width: 1200px;
      max-width: 1200px;
    }
  }
  .picker {
    margin-top: 80px;

    .box_wrapper {
      padding: 37px 23px;
      margin: 20px 0;
      height: calc(100% - 30px);
    }
  }
}
