@import "Global";
@import "components/posts";
@import "components/newsletter";

.single_info {
  margin-top: 84px;

  .back {
    font-family: var(--tfont);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: var(--primary-blue);
    cursor: pointer;

    svg {
      margin-right: 10px;
    }

    &:hover {
      text-decoration: none;
    }
  }

  .posted {
    font-family: var(--tfont);
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: var(--text-gray);
    margin-top: 30px;
    margin-bottom: 10px;
  }

  h1 {
    font-family: var(--sfont);
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: var(--primary-dark);
    margin-bottom: 15px;
  }

  .author {
    font-family: var(--tfont);
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: var(--primary-dark);
    margin-bottom: 20px;
  }

  .featured_image {
    margin-bottom: 30px;
  }

  .share_icons {
    a {
      display: block;
      margin-bottom: 20px;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .content_wrapper {
    margin-bottom: 107px;

    h2 {
      font-family: var(--sfont);
      font-style: normal;
      font-weight: bold;
      font-size: 22px;
      line-height: 28px;
      color: var(--primary-dark);
      margin-bottom: 10px;
    }

    blockquote {
      background: var(--primary-blockquote);
      border-radius: 10px;
      padding: 13px 34px;
      margin-left: 20px;
      margin-right: 20px;

      p {
        font-family: var(--tfont);
        font-style: italic;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        color: var(--primary-orange);
        margin-bottom: 0;
      }
    }

    p {
      font-family: var(--tfont);
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: var(--text-gray);
      margin-bottom: 30px;
    }

    ol, ul {
      margin-bottom: 20px;

      li {
        font-family: var(--tfont);
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 21px;
        color: var(--text-gray);
        margin-bottom: 10px;

        &::marker {
          font-family: var(--tfont);
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 21px;
          color: var(--primary-dark);
        }
      }
    }

    h3 {
      font-family: var(--sfont);
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 27px;
      color: var(--primary-dark);
      margin-bottom: 10px;
    }

    h4 {
      font-family: var(--sfont);
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 27px;
      color: var(--primary-dark);
      margin-bottom: 10px;
    }
  }
}

.category-sidebar {
  .text {
    font-family: var(--tfont);
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
    color: var(--primary-dark);
  }

  .post {
    margin-bottom: 30px;
    border-left: 4px solid var(--text-gray);
    padding-left: 15px;

    .title {
      margin-bottom: 10px;

      a {
        display: block;
        position: relative;
        font-family: var(--sfont);
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 21px;
        color: var(--primary-dark);
        text-decoration: none;

        &:hover {
          color: var(--primary-blue);

          img {
            display: block;
          }
        }

        img {
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          display: none;
        }
      }
    }

    .author {
      svg {
        margin-left: 10px;
        margin-right: 10px;
      }

      .name,
      .date {
        font-family: var(--tfont);
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
        color: var(--text-gray);
      }
    }
  }
}

.list_categories {
  margin-top: 60px;

  .title {
    font-family: var(--tfont);
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
    color: var(--primary-dark);
    margin-bottom: 10px;
  }

  .category {
    display: inline-block;
    margin-right: 10px;
    font-family: var(--tfont);
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 24px;
    cursor: pointer;
    border-radius: 40px;
    padding: 0 20px;
    color: var(--primary-blue);
    border: 2px solid var(--primary-blue);
    margin-bottom: 14px;

    &:hover {
      text-decoration: none;
    }
  }
}

.newsletter_wrapper {
  margin-bottom: 0;
}

.related_articles {
  h3 {
    margin-top: 122px;
    margin-bottom: 30px;
    font-family: var(--sfont);;
    font-style: normal;
    font-weight: 750;
    font-size: 36px;
    line-height: 42px;
    color: var(--secondary);
  }

  h3 {
    a {
      font-family: var(--sfont);
      font-style: normal;
      font-weight: bold;
      font-size: 22px;
      line-height: 28px;
      color: var(--primary-dark);
      margin-bottom: 11px;
      position: relative;
      display: inline-block;

      img {
        display: none;
      }

      &:hover {
        color: var(--primary-blue);

        img {
          display: block;
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }

  .post_info {
    span {
      font-family: var(--tfont);
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 18px;
      color: var(--text-gray);
    }

    svg {
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}

.recent_articles {
  h3 {
    margin-top: 90px;
    margin-bottom: 30px;
    font-family: var(--sfont);;
    font-style: normal;
    font-weight: 750;
    font-size: 36px;
    line-height: 42px;
    color: var(--secondary);
  }
}

@media screen and (max-width: 599px) {
  .single_info .share_icons a {
    display: inline-block;
  }
  .related_articles h3 {
    margin-top: 90px;
    margin-bottom: 0;
  }

  .list_categories {
    margin-bottom: 150px;
  }
  .newsletter_wrapper img {
    top: -50%;
  }
  .newsletter_wrapper .form_newsletter input[type='email'] {
    width: 100%;
  }
  .newsletter_wrapper .form_newsletter button {
    width: 100%;
    margin-top: 30px;
  }
}
