@import "Global";

.terms_picker {
  margin-top: 90px;
  margin-bottom: 90px;

  a {
    display: inline-block;
    font-family: var(--tfont);
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 24px;
    cursor: pointer;
    color: var(--text-gray);
    margin-right: 30px;
    padding: 10px 20px;


    &.selected {
      color: var(--primary-blue);
      outline: 2px solid var(--primary-blue);
      border-radius: 10px;
    }
  }
}

.terms_content {
  margin-bottom: 350px;

  h1 {
    font-family: var(--sfont);
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: var(--primary-dark);
    margin-bottom: 20px;
  }

  h3 {
    font-family: var(--sfont);
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
    color: var(--primary-dark);
    margin-bottom: 20px;
  }

  p {
    font-family: var(--tfont);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: var(--text-gray);
    margin-bottom: 10px;

    a {
      color: var(--primary-blue);
      font-weight: 100;
      font-family: var(--tfont);
      font-size: 14px;
      line-height: 21px;
      text-decoration: underline;
    }
  }
}

.terms_switcher {
  display: none;

  &.show {
    display: block;
  }
}

@media screen and (max-width: 599px) {
  .terms_picker {
    a {
      padding-left: 0;
      padding-right: 0;
      margin-right: 0;
      font-size: 18px;

      &:first-of-type {
        margin-right: 10px;
      }

      &.selected {
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }
}
