@import "/Global";
@import "~@glidejs/glide/src/assets/sass/glide.core";
@import "components/custom-select";

.first_fold {
  padding-top: 80px;

  .flexed_content {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
  }

  .subtitle {
    font-family: var(--tfont);
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    color: var(--secondary);
    margin-bottom: 20px;
  }

  h1 {
    p {
      font-style: normal;
      font-weight: 600;
      font-size: 66px;
      line-height: 72px;
      font-family: var(--tfont);
      color: var(--secondary);
      margin-bottom: 37px;
    }

    span {
      font-style: normal;
      font-weight: 600;
      font-size: 66px;
      line-height: 72px;
      font-family: var(--tfont);
      color: var(--primary-blue);
    }

    strong {
      font-family: var(--sfont);
      font-style: normal;
      font-weight: 750;
      font-size: 66px;
      line-height: 72px;
      color: var(--primary-orange);
      position: relative;
    }
  }

  .content {
    margin-bottom: 30px;

    p {
      font-family: var(--tfont);
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: var(--text-gray);
    }
  }

  .actions {
    .btn_action {
      margin-right: 20px;

      &:hover {
        color: white;
        text-decoration: none;
      }
    }
  }
}

.services {
  margin-top: 190px;
  margin-bottom: 90px;

  .align_flex_center {
    justify-content: space-evenly;
  }

  .aligned_center {
    justify-content: center;
    display: flex;
    flex-flow: row wrap;
    text-align: center;
  }

  .service_wrapper {
    background: var(--primary-service);
    border-radius: 30px;
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  h3 {
    font-family: var(--sfont);
    font-style: normal;
    font-weight: 750;
    font-size: 22px;
    line-height: 30px;
    color: var(--secondary);
    margin-top: 27px;
    margin-bottom: 27px;
  }

  .content {
    p {
      font-family: var(--tfont);
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 21px;
      color: var(--text-gray);
    }
  }
}

.hospitality {
  margin-bottom: 200px;

  .list {
    margin-bottom: 20px;
    display: flex;

    .number {
      font-family: var(--sfont);
      font-style: normal;
      font-weight: 750;
      font-size: 22px;
      line-height: 30px;
      color: var(--primary-orange);
    }

    .content_wrapper {
      margin-left: 15px;
    }

    .title {
      font-family: var(--sfont);
      font-style: normal;
      font-weight: 750;
      font-size: 22px;
      line-height: 30px;
      color: var(--secondary);
      margin-bottom: 5px;
    }

    .content {
      p {
        font-family: var(--tfont);
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 21px;
        color: var(--text-gray);
      }
    }
  }

  .join {
    margin-top: 36px;
    background: var(--primary-blue);
    border-radius: 10px;
    padding: 13px 68px;
    font-family: var(--sfont);
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: white;
    display: inline-block;

    &:hover {
      text-decoration: none;
      color: white;
    }
  }

  .flexed_content {
    height: 100%;
    display: flex;
    align-items: center;
  }
}

.newsletter_popped {
  background: var(--secondary);
  margin-bottom: 150px;
  margin-top: 500px;

  .newsletter_wrapper_popped {
    background: white;
    box-shadow: 0 0 60px rgba(17, 32, 55, 0.1);
    border-radius: 42px;
    padding: 50px;
    position: relative;
    margin-top: -280px;

    img {
      position: absolute;
      left: -120px;
      bottom: 0;
    }

    .content {
      display: flex;
      align-items: center;

      .content_layout {
        padding-right: 20px;
      }

      h3 {
        font-family: var(--sfont);
        font-style: normal;
        font-weight: 750;
        font-size: 34px;
        line-height: 46px;
        color: var(--secondary);
        margin-bottom: 19px;

        span {
          font-family: var(--sfont);
          font-style: normal;
          font-weight: 750;
          font-size: 34px;
          line-height: 46px;
          color: var(--primary-orange);
          margin-bottom: 19px;
        }
      }

      p {
        font-family: var(--tfont);
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: var(--text-gray);
      }
    }

    form {
      input[type="text"],
      input[type="email"],
      textarea,
      select {
        background: var(--primary-border-order);
        border-radius: 10px;
        padding: 13px 29px;
        color: var(--text-gray);
        font-family: var(--tfont);
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 20px;
        border: none;
        outline: none;
        width: 100%;

        &::placeholder {
          font-family: var(--tfont);
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 24px;
          color: var(--text-gray);
        }
      }

      .selector {
        select {
          position: relative;
        }

        svg {
          position: absolute;
          top: 20px;
          right: 20px;
        }
      }

      select {
        appearance: none;
      }

      input[type="submit"] {
        display: block;
        width: 100%;
      }

      .wpcf7-spinner {
        display: none;
      }
    }
  }

  .title {
    margin-top: 112px;
    margin-bottom: 70px;
    font-family: var(--sfont);
    font-style: normal;
    font-weight: 750;
    font-size: 36px;
    line-height: 42px;
    color: white;
    text-align: center;

    span {
      margin-bottom: 70px;
      font-family: var(--sfont);
      font-style: normal;
      font-weight: 750;
      font-size: 36px;
      line-height: 42px;
      color: var(--primary-orange);
    }
  }

  .download {
    text-align: center;
    margin-bottom: 176px;

    a {
      position: relative;
      display: inline-block;

      &:first-of-type {
        margin-right: 25px;
      }

      &:hover {
        top: -5px;
        transition: all 0.3s linear;
      }
    }
  }
}

.logos {
  margin-bottom: 200px;

  h2 {
    font-family: var(--sfont);
    font-style: normal;
    font-weight: 750;
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 94px;
    color: var(--secondary);
    text-align: center;
  }

  .glide__slide {
    background-color: transparent;
    border-radius: unset;
    box-shadow: unset;
    padding: 0;
  }
}

.comments {
  margin-bottom: 315px;

  h2 {
    font-family: var(--sfont);
    font-style: normal;
    font-weight: 750;
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 94px;
    color: var(--secondary);
    text-align: center;
  }
}

.faq {
  padding-bottom: 200px;

  .flexed_content {
    height: 100%;
    display: flex;
    align-items: center;
  }

  .btn_action {
    padding: 13px 60px;
  }

  .global_content {
    padding-right: 100px;
  }

  a {
    &:hover {
      color: white;
      text-decoration: none;
    }
  }
}

.custom-select {
  background: var(--primary-border-order);
  border-radius: 10px;
  padding: 17px 29px;
  color: var(--text-gray);
  font-family: var(--tfont);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 20px;
  border: none;
  outline: none;
  width: 100%;

  .option--selected {
    padding: 0;
  }

  svg {
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
  }
}

.selector {
  position: relative;
}

.mobile_view {
  display: none;
}

.works {
  .text-centered {
    display: flex;
    align-items: center;
    height: 100%;
  }

  h3 {
    font-family: var(--sfont);
    font-style: normal;
    font-weight: 750;
    font-size: 36px;
    line-height: 42px;
    color: var(--secondary);
    margin-bottom: 40px;
  }

  .list {
    .list_item {
      margin-bottom: 30px;
      display: flex;

      .numbering {
        margin-right: 10px;
        flex: 0 0 30px;
      }

      h3 {
        font-family: var(--sfont);
        color: var(--secondary);
        font-style: normal;
        font-weight: 750;
        font-size: 22px;
        line-height: 30px;
        margin-bottom: 5px;
      }

      p {
        font-family: var(--tfont);
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 21px;
        color: var(--text-gray);
      }
    }
  }

  .text-center-image {
    text-align: center;
  }
}

@media screen and (max-width: 599px) {
  .first_fold {
    .actions {
      .btn_action {
        width: 100%;
        text-align: center;
      }
    }
  }

  .services {
    .aligned_center {
      display: block;
      margin-bottom: 60px;
    }

    .service_wrapper {
      text-align: center;
      margin: auto;
    }
  }

  .hospitality {
    margin-bottom: 80px;

    img {
      margin-bottom: 30px;
    }

    .join {
      width: 100%;
      text-align: center;
    }
  }

  .newsletter_popped {
    margin-top: 700px;

    .mobile_view {
      position: absolute;
      top: -280px;
      margin-top: -280px;
      left: 15px;
      right: 15px;

      img {
        display: block;
        width: 100%;
      }
    }

    img {
      display: none;
    }

    .newsletter_wrapper_popped {
      .content {
        display: block;

        .content_layout {
          margin-bottom: 30px;
          padding: 0;
        }
      }
    }

    .download {
      a {
        margin-bottom: 20px;
        width: 100%;
      }
    }
  }
}
