.cookie {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  transition: 250ms transform ease;
  transform: translate3d(0, 100%, 0);

  .container {
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 20px 60px rgba(17, 32, 55, 0.1);
    border-radius: 46px;
  }

  .cookie_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .cookie_content {
    display: flex;
  }

  .cookie__text {
    padding-left: 52px;
    max-width: 605px;

    p {
      font-family: var(--tfont);
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 21px;
      color: var(--text-gray);

      &.title {
        font-family: var(--tfont);
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 32px;
        color: var(--secondary-blog);
      }
    }

    a {
      color: var(--primary-blue);
      text-decoration: underline;
    }
  }

  .btn {
    --min-font-px: 14px;
    --min-font: 14;
    --max-font: 18;
    --max-font-px: 18px;
    display: inline-block;
    margin-left: auto;
    padding: 15px 50px;
    border-radius: 10px;

    &.btn--accept {
      background-color: var(--primary-blue);
      color: white;
      margin-left: 15px;
    }

    &.btn--decline {
      background-color: transparent;
      border: 1px solid var(--btn_cookie);
      color: var(--btn_cookie);
    }
  }

  &.show {
    transform: translate3d(0, 0, 0);
    bottom: 30px;
  }
}

@media screen and (max-width: 767px) {
  .cookie {
    .container {
      grid-template-columns: 1fr;
    }
  }
}

@media screen and (max-width: 575px) {
  .cookie {
    .container {
      padding: 15px;

      .cookie_wrapper {
        display: block;

        .cookie_content {
          display: block;
        }

        .cookie__consent {
          margin-top: 15px;
        }

        .cookie__text {
          margin-top: 15px;
          padding-left: 0;
        }
      }
    }
  }
}
