.contact_prefooter {
  position: relative;
  margin-bottom: -230px;
  z-index: 2;

  .contact_wrapper {
    background: #FFFFFF;
    box-shadow: 0 20px 60px rgba(17, 32, 55, 0.1);
    border-radius: 42px;
    padding: 70px 70px 90px;
  }

  .wpcf7-form {
    display: flex;
    flex-flow: row wrap;

    h1 {
      font-family: var(--sfont);
      font-style: normal;
      font-weight: 750;
      font-size: 36px;
      line-height: 42px;
      color: var(--secondary);
      margin-bottom: 30px;
    }

    p {
      font-family: var(--tfont);
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      color: var(--text-gray);
      margin-bottom: 40px;
    }

    input[type="text"],
    input[type="email"],
    textarea {
      background: var(--primary-border-order);
      border-radius: 10px;
      padding: 13px 29px;
      color: var(--text-gray);
      font-family: var(--tfont);
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 20px;
      border: none;
      outline: none;
      width: 100%;

      &::placeholder {
        font-family: var(--tfont);
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: var(--text-gray);
      }
    }

    input[type="submit"] {
      display: block;
      width: 100%;
    }
  }
}

#footer {
  background-color: var(--secondary);
  padding: 0 80px;

  .logo_footer {
    padding-top: 290px;
    padding-bottom: 60px;
    position: relative;
    text-align: center;

    .navbar-nav {
      justify-content: center;

      .menu-item {
        &:last-of-type {
          .nav__link {
            padding-right: 0;
          }
        }
      }
    }
  }

  .nav__link {
    color: white;
    text-align: center;
    margin-top: 45px;
    font-size: 18px;
  }

  .social_wrapper {
    padding-bottom: 60px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;

    .nav__link {
      margin-top: 0;
    }
  }

  .copyright {
    span, a {
      margin-top: 0;
      font-family: var(--tfont);
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 21px;
      opacity: 0.4;
      color: white;
    }

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    .nav__link {
      margin-top: 0;
      font-family: var(--tfont);
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 21px;
      opacity: 0.4;
    }

    .dev {
      margin-bottom: 10px;

      a:first-of-type {
        margin-right: 30px;
      }
    }
  }
}

.mobile_nav {
  display: none;
}

@media screen and (max-width: 599px) {
  .contact_prefooter {
    margin-bottom: -100px;
    padding: 20px;

    .contact_wrapper {
      padding: 20px;
    }
  }

  #footer {
    .logo_footer {
      padding-top: 140px;

      img {
        margin-bottom: 30px;
      }
    }
  }

  #footer {
    padding: 0 20px;

    ul {
      .nav__link {
        margin-top: 14px;
      }
    }

    .copyright {
      span {
        margin-bottom: 27px;
        order: 3;
        text-align: center;
      }

      .dev {
        order: 2;
        width: 100%;
        text-align: center;
        margin: 23px 0;

        span {
          margin-right: 0 !important;
        }
      }

      .toc {
        width: 100%;

        ul {
          padding: 0;
        }
      }
    }

    .social_wrapper {
      justify-content: center;
    }

    .useful-links {
      padding: 0;

      li {
        margin-top: 14px;

        &::marker {
          display: none;
        }
      }
    }

    .socials {
      text-align: center;
      width: 100%;
      order: 2;
      margin-top: 40px;

      a {
        margin-right: 26px;

        &:last-of-type {
          margin-right: 0;
        }
      }

      span {
        display: block;
        width: 100%;
        margin-bottom: 20px;
      }
    }

    .nav__link {
      padding: 0;
    }
  }

  .mobile_nav {
    display: block;
  }

  #footer .copyright .dev a:first-of-type {
    margin-right: 0;
  }
}
