.toggler {
  --bcolor: #333;
  padding: 0;
  width: 25px;
  height: 25px;
  border: none;
  position: relative;
  z-index: 1001;
  background-color: transparent;
  margin-left: auto;

  span {
    position: absolute;
    top: 50%;
    left: 50%;
    border-top: 2px solid #cecece;
    width: 100%;
    transition: 550ms all ease;

    &:first-of-type {
      transform: translate3d(-50%, calc(-50% - 8px), 0);
    }

    &:nth-of-type(2) {
      transform: translate3d(-50%, -50%, 0);
    }

    &:nth-of-type(3) {
      transform: translate3d(-50%, calc(-50% + 8px), 0);
    }
  }

  &--navbar {
    &[aria-expanded=true] {
      span {
        &:first-of-type {
          transform: translate3d(-50%, 0, 0) rotate(45deg);
        }

        &:nth-of-type(2) {
          width: 1px;
        }

        &:last-of-type {
          transform: translate3d(-50%, 0, 0) rotate(-45deg);
        }
      }
    }
  }
}

.navbar {
  --link-color: var(--primary);
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0;
}

.navbar-nav {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  padding: 0;

  ul {
    list-style: none;
    padding: 0;
  }
}

.menu-item {
  &-has-children {
    position: relative;

    .sub-menu {
      transition: 300ms all cubic-bezier(0.66, 0.1, 0.58, 1);
      opacity: 0;
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 25px;
      right: 0;
      width: 7px;
      height: 7px;
      border-right: 2px solid var(--link-color);
      border-bottom: 2px solid var(--link-color);
      transform: rotate(45deg);
      transition: 250ms transform ease, 250ms top ease;
    }
  }

  &:last-of-type {
    .nav__link {
      padding-right: 0;
    }
  }
}

.nav__link {
  display: block;
  font-family: var(--tfont);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--secondary);
  padding-right: 40px;

  &.join_us {
    padding-right: 30px;
  }

  &:hover {
    opacity: 0.7;
    text-decoration: none;
  }
}

.join_us {
  color: var(--primary-blue);
}

@media screen and (min-width: 992px) {
  .toggler--navbar {
    display: none;
  }

  .menu-item-has-children {
    &:hover {
      > .sub-menu {
        transform: scale3d(1, 1, 1);
        opacity: 1;
      }

      &::after {
        top: 30px;
        transform: rotate(-135deg);
      }
    }
  }

  .sub-menu {
    position: absolute;
    top: calc(100% - 5px);
    left: 0;
    z-index: 1000;
    background-color: #fff;
    padding: 20px 10px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3);
    transform: scale3d(1, 0, 1);
    transform-origin: top center;

    .menu-item {
      padding: 0 20px;
    }
  }
}

@media screen and (max-width: 991px) {
  .navbar {
    padding: 15px 0;
  }

  .navbar-collapse {
    overflow: hidden;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    background: #fff;
    transform: scale3d(1, 0, 1);
    transform-origin: top center;
    transition: 250ms transform ease;

    &.show {
      transform: scale3d(1, 1, 1);
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .navbar-nav {
    flex-flow: column nowrap;
    align-items: center;
    padding-top: 50px;
    max-height: calc(100vh - 50px);
    overflow: hidden auto;

    & > .menu-item {
      padding: 0;
    }

    .menu-item {
      width: 100%;

      &-has-children {
        .sub-menu {
          height: 0;
          overflow: hidden;
        }

        &::before {
          content: '';
          display: block;
          position: absolute;
          width: 40px;
          height: 50px;
          top: 0;
          right: 20px;
        }

        &::after {
          top: 20px;
          right: 40px;
          width: 10px;
          height: 10px;
          transform: rotate(-45deg);
        }

        &.open {
          &::after {
            .sub-menu {
              opacity: 1;
            }

            transform: rotate(45deg);
          }
        }
      }
    }

    .nav__link {
      max-width: 100%;
      text-align: center;
      font-size: 32px;
      padding: 20px;
    }
  }
  .menu-item:last-of-type .nav__link {
    padding-right: 20px;
  }

  header {
    .toggler {
      order: 3;
      margin: 0;
    }

    .site-logo {
      order: 1;
    }

    .join_us {
      order: 2;
      padding-left: 400px;
      padding-right: 0;
    }

    .navbar-collapse {
      order: 4;
    }
  }
}

@media screen and (max-width: 599px) {
  header {
    .toggler {
      order: 3;
      margin: 0;
    }

    .site-logo {
      order: 1;
    }

    .join_us {
      order: 2;
      padding-left: 100px;
      padding-right: 0;
    }

    .navbar-collapse {
      order: 4;
    }
  }
}
