@font-face {
  font-family: 'Wotfard';
  src: url('../fonts/Wotfard-Regular.woff2') format('woff2'),
  url('../fonts/Wotfard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Wotfard';
  src: url('../fonts/Wotfard-Bold.woff2') format('woff2'),
  url('../fonts/Wotfard-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir LT Std 65';
  src: url('../fonts/AvenirLTStd-Black.woff2') format('woff2'),
  url('../fonts/AvenirLTStd-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir LT Std 55 Roman';
  src: url('../fonts/AvenirLTStd-Roman.woff2') format('woff2'),
  url('../fonts/AvenirLTStd-Roman.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir LT Std 45 Book';
  src: url('../fonts/AvenirLTStd-Book.woff2') format('woff2'),
  url('../fonts/AvenirLTStd-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@keyframes rotate {
  from {
    transform: rotate3d(0, 0, 0, 0);
  }
  to {
    transform: rotate3d(0, 0, 1, 360deg);
  }
}

body {
  --secondary: #011F3F;
  --secondary-blog: #011F3F;
  --text-gray: #7D8EA0;
  --primary-orange: #FFA41B;
  --primary-blue: #1089FF;
  --primary-border-order: #F3F7FB;
  --primary-dark: #091D34;
  --primary-input: #BFD4ED;
  --primary-blur: #FFF8EE;
  --primary-bluish: #F9F9F9;
  --primary-blockquote: #FFF4E2;
  --primary-service: #FFCA79;
  --btn_cookie: #B2BFCA;

  --primary-light: #cfd8dc;
  --primary-light-05: rgba(207, 216, 220, 0.5);
  --primary: #607d8b;
  --text: #fff;
  --text-primary: #212121;
  --text-secondary: #757575;
  --divider: #bdbdbd;
  --accent: #536dfe;
  --tfont: 'Wotfard', sans-serif;
  --sfont: 'Avenir LT Std 65', sans-serif;
  font-family: var(--tfont);
  color: var(--text-primary);

  &.overflow {
    .primary_navigation {
      height: 100vh;
      position: relative;
    }

    .site-logo {
      position: absolute;
      z-index: 99999999;
      left: 50%;
      top: 20%;
      transform: translate(-50%, -20%);
    }

    .toggler {
      position: absolute;
      top: 80%;
      left: 50%;
      transform: translateX(-50%);
      outline: 2px solid #cecece;
      border-radius: 50%;
      padding: 30px;

      span {
        color: #cecece;
        width: 26px;
      }
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
span,
.btn {
  font-size: unquote("min(calc(var(--min-font-px) + (var(--max-font) - var(--min-font)) * ((100vw - 320px) / (1920 - 320))), var(--max-font-px))");
  line-height: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  a {
    color: inherit;

    &:hover {
      color: inherit;
      text-decoration: none;
    }
  }
}

h1 {
  --min-font-px: 28px;
  --min-font: 28;
  --max-font: 36;
  --max-font-px: 36px;
}

h2 {
  --min-font-px: 24px;
  --min-font: 24;
  --max-font: 28;
  --max-font-px: 28px;
}

h3 {
  --min-font-px: 20px;
  --min-font: 20;
  --max-font: 24;
  --max-font-px: 24px;
}

h4 {
  --min-font-px: 18px;
  --min-font: 18;
  --max-font: 20;
  --max-font-px: 20px;
}

h5 {
  --min-font-px: 16px;
  --min-font: 16;
  --max-font: 18;
  --max-font-px: 18px;
}

h6 {
  --min-font-px: 14px;
  --min-font: 14;
  --max-font: 16;
  --max-font-px: 16px;
}

a {
  color: var(--accent);
}

.screen-reader-text,
.screen-reader-response,
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.embed {
  position: relative;
  overflow: hidden;

  iframe,
  .item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }

  &--21by9 {
    padding-top: percentage(9 / 21);
  }

  &--16by9 {
    padding-top: percentage(9 / 16);
  }

  &--4by3 {
    padding-top: percentage(3 / 4);
  }

  &--1by1 {
    padding-top: percentage(1 / 1);
  }
}

.overflow {
  overflow: hidden;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.btn_action {
  border-radius: 10px;
  padding: 13px 23px;
  font-family: var(--sfont);
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: white;
  display: inline-block;
  outline: none;
  border: none;

  &.btn__orange {
    background-color: var(--primary-orange);
  }

  &.btn__blue {
    background-color: var(--primary-blue);
  }

  &:hover {
    opacity: 0.8;
  }
}

.socials {
  span {
    font-family: var(--tfont);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: white;
    margin-right: 57px;
  }

  a {
    margin-right: 60px;
    outline: none;
    border: none;

    &:hover {
      text-decoration: none;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }
}

.global_title {
  p {
    font-family: var(--sfont);
    font-style: normal;
    font-weight: 750;
    font-size: 36px;
    line-height: 42px;
    color: var(--secondary);
    margin-bottom: 40px;

    strong {
      font-family: var(--sfont);
      font-style: normal;
      font-weight: 750;
      font-size: 36px;
      line-height: 42px;
      color: var(--primary-orange);
      position: relative;
    }
  }

  &.blue {
    span {
      font-family: var(--sfont);
      font-style: normal;
      font-weight: 750;
      font-size: 66px;
      line-height: 72px;
      color: var(--primary-blue);
      position: relative;

      &::after {
        content: url('../images/line_blue.svg');
        position: absolute;
        bottom: -20px;
        left: 0;
        right: 0;
        width: 100%;
        overflow: hidden;
      }
    }
  }

  span {
    font-family: var(--sfont);
    font-style: normal;
    font-weight: 750;
    font-size: 36px;
    line-height: 42px;
    color: var(--primary-orange);
    position: relative;

    &::after {
      content: url('../images/line_orange.svg');
      position: absolute;
      bottom: -20px;
      left: 0;
      right: 0;
      width: 100%;
      overflow: hidden;
    }
  }

  strong {
    font-family: var(--sfont);
    font-style: normal;
    font-weight: 750;
    font-size: 36px;
    line-height: 42px;
    color: var(--primary-orange);
    position: relative;
  }
}

.global_content {
  margin-bottom: 30px;

  p {
    font-family: var(--tfont);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 0;
    color: var(--text-gray);
  }
}

.glide__slide {
  transition: 0.1s all ease-in;
  padding: 40px 40px 50px 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  height: auto !important;

  &:hover {
    background: #FFFFFF;
    box-shadow: 0 0 10px rgba(17, 32, 55, 0.1);
    border-radius: 20px;
  }

  &.glide__slide--active {
    background: #FFFFFF;
    box-shadow: 0 0 10px rgba(17, 32, 55, 0.1);
    border-radius: 20px;
  }

  .content {
    margin-top: 40px;
    margin-bottom: 42px;

    p {
      font-family: var(--tfont);
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 21px;
      color: var(--text-gray);
    }
  }

  .author {
    display: flex;
    align-items: center;

    .initial {
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      flex: 0 0 50px !important;
      width: 50px;
      height: 50px;
      background-color: var(--primary-blue);
      border-radius: 50px;
      margin-right: 14px;
      font-family: var(--tfont);
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
    }

    .name {
      font-family: var(--tfont);
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      color: var(--secondary);
    }

    .role {
      font-family: var(--tfont);
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;
      color: var(--text-gray);
    }
  }
}

.glide__arrows {
  display: none;
}

.glide__bullets {
  text-align: center;
  margin-top: 40px;

  .glide__bullet {
    background: var(--primary-border-order);
    border-radius: 20px;
    border: none;
    outline: none;
    width: 8px;
    height: 8px;
    transition: 0.1s all ease-in;

    &.glide__bullet--active {
      width: 16px;
      background-color: var(--primary-blue);
    }
  }
}

.background-effect {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  pointer-events: none;

  img {
    width: 100%;
  }
}

.wpcf7 {
  form.sent {
    .wpcf7-response-output {
      display: block;
      width: 100%;
      text-align: center;
      border: none;
      color: var(--primary-blue);
      font-size: 21px;
    }
  }

  form.invalid {
    input,
    textarea,
    select {
      border: 1px solid var(--primary-orange) !important;
    }

    .wpcf7-response-output {
      display: block;
      width: 100%;
      text-align: center;
      border: none;
      color: var(--primary-orange);
      font-size: 21px;
    }
  }

  .wpcf7-not-valid-tip {
    color: var(--primary-orange);
    margin-top: 15px;
    display: none;
  }
}

@media screen and (max-width: 599px) {
  .global_title {
    p {
      font-size: 33px !important;
      line-height: 50px !important;

      span {
        font-size: 33px !important;
        line-height: 50px !important;
      }

      strong {
        font-size: 33px !important;
        line-height: 50px !important;
      }
    }
  }

  .btn_action {
    font-size: 14px;
    text-align: center;
  }

  .actions {
    margin-bottom: 30px;
  }

  .comments {
    .global_title {
      p {
        margin-bottom: 10px;
      }
    }
  }

  .faq {
    padding-bottom: 80px;

    .btn_action {
      width: 100%;
      margin-bottom: 30px;
    }

    .global_content {
      padding-right: 0 !important;
    }
  }
}




